<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library home page</title>
</head>
<body>
    <h1>Functions:</h1>
        <ul>
            <li><a href="http://localhost:8080/ui/books">View the list of available books</a></li>
            <li><a href="http://localhost:8080/ui/readers">View the list of registered readers</a></li>
            <li><a href="http://localhost:8080/ui/issues">View the book issuance table</a></li>
            <li>View the reader's list of books: http://localhost:8080/ui/reader/{id}</li>
        </ul>
</body>
</html>